[Desktop Entry]
Type=Application
Name=Mod Manager
Comment=Manage and deploy game mods, run games through Proton
Exec=modmanager %U
Icon=modmanager
Terminal=false
Categories=Game;
Keywords=mods;modding;skyrim;proton;umu;
